<h2 class="text-center">Pieces List</h2>



<h3>All the beautiful Pieces</h3>

<% pieces.forEach(function(p) { %>

<p><a href="/pieces/<%=p._id%>"> <%=p.name%></a> (<%=p.museum.name%>  - <%=p.museum.city%> )</p>

<form method="POST" action="/pieces/<%=p.id%>?_method=DELETE">
    <input type="submit"  value="Delete Pieces">
</form>

<% }); %>