<h2 class="text-center">Pieces List</h2>

<!-- DELETE CODE BELOW THIS LINE -->

<h1>The Pieces</h1>
<% pieces.forEach(p => { %>
    <p><a href="/pieces/<%=p.id %>"><%= p.name %></a> (<%= museums[0].name %>)</p>
<% }) %>

<h3>For example</h3>

<p><a href="/pieces/<%='the_actual_id_goes_here'%>">Mona Lisa</a> (The Louvre - Paris)</p>

<p><a href="/pieces/<%='the_actual_id_goes_here'%>">Night's Watch</a> (Rijksmuseum - Amsterdam)</p>

