<h2 class="text-center">Pieces List</h2>

<div>
<form method="GET" action="/pieces/new">
	<input type="submit" value="Add new piece">
</form>
</div>

<% pieces.forEach(p => { %>
	<p>
	<a href="/pieces/<%=p.id%>"><%=p.name%> by <%-p.creator.firstname%> <%=p.creator.lastname%></a>
		<%= p.museum.name %> - <%= p.museum.city %> 
	</p>
<% }) %>
