<!-- DELETE CODE BELOW THIS LINE -->
<h2><a href="/pieces/<%= foundPiece._id %>"><%= foundPiece.name %></a></h2>

<p><%= foundPiece.image %></p>
<p><%= foundPiece.creator.firstName %></p>
<p><%= foundPiece.creator.lastName %></p>
<p><%= foundPiece.creator.image %></p>
<p><%= foundPiece.creator.birthYear %></p>
<p><%= foundPiece.creator.deathYear %></p>



<p><%= foundPiece.museum.name %></p>
<p><%= foundPiece.museum.city %></p>
<p><%= foundPiece.museum.country %></p>
<p><%= foundPiece.museum.image %></p>
