
<h1> <%=pieces.name%> </h1>
<p>Creator: <%=pieces.creator.firstname%> <%=pieces.creator.lastname%></p>
<p>Born: <%=pieces.creator.birthyear%></P> 
<p></p>Died: <%=pieces.creator.deathyear%></p>
<p></p>Museum: <%=museum.name%></p>
<img src="<%=pieces.image%>">

