<!-- DELETE CODE BELOW THIS LINE -->
<h2>TODO: Show a specific Piece</h2>
<h2><%= piece.name %></h2>


<img src="<%= piece.image %>">
<p><%= piece.creator.firstname %> 
    <%= piece.creator.lastname %> 
    (<%= piece.creator.birthYear %> - 
    <%= piece.creator.deathYear %>)</p>
