<h2><%=piece.name%></h2>

<div>
	<img src="<%=piece.image%>">
</div>
<h4>Origin Country: <%=piece.originCountry%></h4>

	<h3>Creator Info</h3>
<div>
	<img src="<%=piece.creator.cimage%>">
</div>
	<h4><%=piece.creator.firstname%> <%=piece.creator.lastname%>(<%=piece.creator.birthyear%>~<%=piece.creator.deathyear%>)</h4>

