<h2><%= piece.name %></h2>

<p>
<%= piece.name %> is located at <%= piece.museum.name %> in <%= piece.museum.city%>, <%= piece.museum.country %>. This piece originated in <%= piece.originCountry %>
</p>

<div class="image-container">
	<img alt="pic" src="<%= piece.image %>" class="reasonable-image-size">
</div>