<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<div class="museumIndex">
    <% museums.forEach(function(m) { %>
        <div class="">
            <a href="/museums/<%=m._id%>"><h2> <%= m.name %></h2></a>
            <h4>
                <%=m.city  %>, <%=m.country  %> 
            </h4>
            <img src=<%=m.image%> alt="museum">
        </div>
    <% }); %>
</div>
