<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<div>
    <% museumData.forEach(d => { %>
        <div class="bg-info" id="museumList">
            <a href='/museums/<%=d._id%>'><%=d.name%></a>
            <p><%=d.city%> <%=d.country%></p>
            <img src="<%=d.museumImg%>">
        </div>
    <% }) %>
</div>