<h2 class="text-center">Museums List</h2>

<div>
    <% museum.forEach(m => { %>
        <div>
            <a href='/museums/<%=m._id%>'><%=m.name%></a>
            <p><%=m.city%> <%=m.country%></p>
            <img src="<%=m.image%>">
        </div>
    <% }) %>
</div>