<h2 class="text-center"><%= museum.name %></h2>

<div class="image-container">
	<img alt="museum pic" src="<%= museum.image %>" class="reasonable-image-size">
</div>

<div class="row">
	<div class="col-6">
		<h3>Description</h3>
		<p>
			<%= museum.name %> is located in <%= museum.city %>, <%= museum.country %>.
		</p>
	</div>
	<div class="col-6">
		<h3>Most Famous Pieces</h3>
		<p>
			TO DO
		</p>
	</div>
</div>