<h1><%=museum.name%></h1>
<h3><%=museum.city%>, <%=museum.country%></h3>

<img src="<%=museum.image%>" />

<% pieces.forEach(piece => { %>
	<img src="<%=piece.image%>" style="max-width: 256px;" />
	<p><%=piece.name%> (<%=piece.creator.firstname%> <%=piece.creator.lastname%>)</p>
<% }) %>
