<!-- DELETE CODE BELOW THIS LINE -->

<img src="<%= foundMuseum.image %>" >
<h2><%= foundMuseum.name %> (<%= foundMuseum.city %>, <%= foundMuseum.country %>)</h2>

<h3>List of Pieces:</h3>
<% pieces.forEach((p) => { %>
    <a href="/pieces/<%= p._id %>"><%= p.name %></a><br />
<% }) %>
