<!-- DELETE CODE BELOW THIS LINE -->

<img src="<%= foundMuseum.image %>" >
<h2><%= foundMuseum.name %> (<%= foundMuseum.city %>, <%= foundMuseum.country %>)</h2>

<h3>List of Pieces:</h3>
<% if(pieces.length > 0) { %>
    <% pieces.forEach((p) => { %>
        <a href="/pieces/<%= p._id %>"><%= p.name %></a> -- <%= p.creator.firstname %> <%= p.creator.lastname %><br />
    <% }) %>
<% } else { %>
    <h4>No Pieces Added Yet!</h4>
<% } %>
