
<h2><%=museum.name%></h2>

<p>Museum City: <%=museum.city  %> </p>
<p>Museum Country: <%=museum.country  %> </p>

<hr/>

<% if(pieces.length!=0) { %>
    <% pieces.forEach(function(p) { %>
    <h2>Pieces</h2>
    <div>
        <h1><a href="/pieces/<%=p._id%>"> <%=p.name  %></a></h1>
        <h2>Origin Country: <%=p.originCountry  %> </h2>
        <img src=<%=p.image%> alt="museum pieces">
    </div>
    <hr/>
    <% }) %>
<% } %>  