<!-- DELETE CODE BELOW THIS LINE -->
<!-- <h2>TODO: Show a specific Museum</h2> -->
<!-- <p>Show a list of pieces in this museum</p> -->


<h2 class="text-center">Museums List</h2>  
<% museum.forEach(m => { %>
    <!-- <h1><%= m.name %></h1> -->
    <h1><a href="/museums/<%= m._id %>"><%= m.name %></a></h1>
    <p><%= m.city %>, <%= m.country %></p>
    <img src="<%= m.image %>"/>

    <p>Show a list of pieces in this museum</p>
    
  <%})%>
  