<div class="container">
    <h1><%=museum.name%></h1>
    <p>Location: <em><%=museum.city%>, <%=museum.country%></em></p>
    <img src="<%=museum.image%>" alt="museum photo">
    <hr />
    <h4>Home to the following pieces: </h4>
    <% pieces.forEach(p => { %>
        <li><a href="/pieces/<%=p._id%>"><%=p.name%></a></li>
    <% }) %>
</div>